<% if count.present? %>
  <h2>検索結果</h2>
  <table class="table">
    <thead>
      <tr>
        <th>投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= count %></td>
      </tr>
    </tbody>
  </table>
<% end %>